extend ../../layouts/general.layout.pug

block content
    .container
        a.btn.btn-outline-primary(href="/") Back
        .d-flex.flex-wrap.bg-light.mt-4
            each product in products
                .product.mx-3
                    .product-img
                        img(src=product.image)
                    .product-information
                        p(class="product-name")= product.name
                        p(class="product-price")= product.price
                        p(class="product-description")= product.description
                            a(class="btn btn-primary add-btn",
                            href="/cart/add/" + product.id ) Add to cart
        nav
            ul.pagination.justify-content-center
                li.page-item
                    a.page-link(href="products?page=1") 1
                li.page-item
                    a.page-link(href="products?page=2") 2
                    
